.imagem-container {
  width: 100px;
  height: 200px;

}

.imagem-container img {
  max-width: 80%;
  height: 100%;
  margin-left: 290px;
  display: block;
  margin: auto;
}

.foto-thumb {
  cursor: pointer;
  margin-bottom: 5px;
  max-width: 60%;
  height: auto;
  max-height: 60%;
  border-radius: 40px;
  object-fit: cover;
  margin-top: 10px;
}