.destaque-container {
  margin-top: 80px;
  text-align: center;

}

.destaque-container img {
  width: 50%;
  max-width: auto;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 200px;

}

.legenda {
  text-align: center;
  margin-top: 10px;
}