.destaque-container {
    margin-top: 60px;
    justify-self: center;
  }
  
  .destaque-container img {
    width: 100%;
    height: auto;
  }
  
  .legenda {
    text-align:center;
    padding-inline-start: 420px;
   
    margin-top: 10px;
  }