.destaque-container {
    margin-top: 60px;
    justify-self: center;
   
  }
  
  .destaque-container img {
    width: 100%;
    height: auto;
  }
  
  .legenda {
    text-align: center;
    margin-top: 10px;
  }