.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  min-height: 150px;
  object-fit: cover;

  
  }

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtitle {
  color: #777;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}