
footer {
    
    color: rgb(7, 7, 6);
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  /* color verde rgb(48,76,25) amarelo rgb(216,184,49) azul rgb(1,178,170) vermelho rgb(206,60,11) */