
footer {
    background-color: rgb(216,184,49);
    color: rgb(7, 7, 6);
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  