body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: auto;
 }

.logoContato {
    width: 100%;
    height: auto;
}

/* color verde rgb(48,76,25) amarelo rgb(216,184,49) azul rgb(1,178,170) vermelho rgb(206,60,11) */
.custom-link {
    color: rgb(206,60,11) ; 
    padding: 0px;  
    text-decoration: none; 
}

.custom-link:hover {
    color: rgb(48,76,25); 
}

.nav{
    margin-top: 0px;
}
.navbar {
    margin-top: 0px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* 100% da altura da viewport */
    width: 15%;
    padding: 2%; 
    background: linear-gradient(to right, rgba(48,76,25,0.8), rgba(216,184,49,0.6), rgba(1,178,170,0.6), rgba(206,60,11,0.8));
    z-index: 1000; /*Garante que o navbar esteja acima de outros elementos na página */
}






/* const [paginaContato, mudaPagina] = useState(false);*/